@import "tailwindcss";

body {
  background-color: #d6d4d4; /* Change to your desired color */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.kanit-bold {
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: normal;
}

.grechen-fuemen-regular {
  font-family: "Grechen Fuemen", serif;
  font-weight: 400;
  font-style: normal;
}

.darumadrop-one-regular {
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
